*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(136, 180, 180);
    padding: 20px 20px;
    border-radius: 12px;
}
h1{
    font-size: 40px;
}
header p{
    color: rgb(29, 24, 100);
    margin-top: 23px;
    margin-bottom: 23px;
}
header a{
    background-color: rgb(196, 179, 179);
    padding: 10px;
    color: rgb(25, 34, 43);
    border: none;
    border-radius: 12px;
}
nav{
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgb(151, 148, 144);
    padding: 14px;
}
nav a{
    background-color: black;
    padding: 9px 30px;
    color: white;
    border-radius: 12px;
}
#acerca{
    display: flex;
    flex-direction: column;
}
#acerca img{
    width: 100%;
    height: 500px;
}

