* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #000;
    background-color: #aaaba8;
}
/* parte del encabezado */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 7%;
    background-color: white;
    border-bottom: 2px solid #1f2937;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
}

.historia{
    position: relative;
    text-align: center;
}

.historia img{
    width: 100%;
    height: 410px;
    object-fit: cover;
}
.historia h2{
    position: absolute;
    top: 150px;
    width: 100%;
    color: white;
    font-size: 50px;
}
.historia button{
    position: absolute;
    top: 250px;
    left: 45%;
    padding: 10px 25px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
}

section{
    padding: 25px 7%;
}

.articulos{
    display: flex;
    gap:20px
}
.tarjeta{
    width: 33%;
    background-color: white;
    box-shadow: 0 2px 8px #ccc;
}
.tarjeta img{
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.contenido{
    padding: 15px;
}

.contenido h2 {
    font-size: 14px;
    color: #090e13;
    margin-bottom: 15px;
}

.contenido h3 {
    margin-bottom: 15px;
}

.contenido p {
    color: #777;
    margin-bottom: 20px;
}

.contenido a {
    color: #214d77;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    padding: 30px;
    border-top: 1px solid #ddd;
}

@media(max-width: 600px){
    header{
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }
    nav{
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .historia h2{
        font-size: 30px;
        top: 130px;
    }
    .historia button{
        top: 200px;
        left: 50%;
    }
    .articulos{
        flex-direction: column;
    }
    .tarjeta{
        width: 100%;
    }
    
}